nav .navbar-brand
{
    /* size for brand */
    font-size: xx-large;
}

main .form-control
{
    /* Center form controls */
    display: inline-block;

    /* Override Bootstrap's 100% width for form controls */
    width: auto;
}

main
{
    /* Scroll horizontally as needed */
    overflow-x: auto;

    /* Center contents */
    text-align: center;
}

main img
{
    /* Constrain images on small screens */
    max-width: 100%;
}

.dark_background
{
    background-color: #2E2E2E;
    color: #ffffff;
}

.pp_profile 
{
    padding-top: 1rem;
    padding-bottom: 1rem;
    max-width: 260px;
}

.custom-btn
{
    background: none!important;
    border: none !important;
}

.srch-bar 
{
    margin: 1rem !important;
}

.pp-sm
{
    max-width: 2rem;
    float: right;
}

.link_users
{
    float: left;
    font-weight: 600;
    text-decoration: none;
}

.link_users:hover
{
    text-decoration: none;
}
.link_light:hover
{
    color: #FFFFFF;
}

.link_light
{
    color: #e0e0e0;
}

.link_dark:hover
{
    color: #000000;
}

.link_dark
{
    color: #4c4c4c;
}

.dropdown-menu {         
  max-height: 200px;
  overflow-y: auto;
}

.form-ul {
    list-style-type: none;
}