<form id="crt_gm_frm">
	Game name:
	<input type="text" name="">

	Description:
	<textarea class="form-control" name="description" form="crt_gm_frm"></textarea>

	Approximate price:
	<input type="n" name="">

	<ul class="form-ul">
		<li class="dropdown">

			<a href="#" data-toggle="dropdown" class="dropdown-toggle btn 
	    		{% if darkmode > 0 %}
		    		link_light
	    		{% else %}
		    		link_dark
	    		{% endif %}">

				Invite friends<b class="caret"></b>
			</a>
			<ul class="dropdown-menu">
				{% for friend in friends %}
					<li>
						<label class="checkbox">
							<input type="checkbox" name="participant"
							value="{{ friend['user_id']}}">
							{{ friend['username']}}
						</label>
					</li>
				{% endfor %}
			</ul>

		</li>
	</ul>

	<button>Create</button>
</form>
