<form action="/create_game" method ="post" id="crt_gm_frm">
	<div class="form-group">
		<input class="form-control" name ="g_name" type="text" placeholder="Game name">
	</div>

	<div class="form-group form-floating">
		<textarea class="form-control" name="desc" form="crt_gm_frm"
		placeholder="Description (price range, theme, excluded gifts...)">
		</textarea>
	</div>

	<div class="form-group">
		<ul class="form-ul">
			<li class="dropdown">

				<a href="#" data-toggle="dropdown" class="dropdown-toggle btn 
		    		{% if darkmode > 0 %}
			    		link_light
		    		{% else %}
			    		link_dark
		    		{% endif %}">

					Invite friends<b class="caret"></b>
				</a>
				<ul class="dropdown-menu">
					{% for friend in friends %}
						<li>
							<label class="checkbox">
								<input type="checkbox" name="par"
								value="{{ friend['user_id']}}">
								<img class="pp-sm" src="static/pp/{{ friend['image_id'] }}.png">
								<span style="padding-right: 5px;">
									{{ friend['username']}}
								</span>
							</label>
						</li>
					{% endfor %}
				</ul>

			</li>
		</ul>
	</div>

	<button type="submit" class="cstmbtn btn btn-outline-success">
		Create
	</button>
</form>
<dir></dir>