{% extends "layout.html" %}

{% block title %}
    Friends
{% endblock %}

{% block friends %}
    active
{% endblock %}

{% block current_path %}
    /friends
{% endblock %}

{% block main %}
    <div class="row">

    	<div class="col">
    	
    	    <table class="table {% if darkmode == 1 %} table-dark dark_background {% endif %} table-hover">
	        	<thead>
	        		<tr>
	        			<th colspan="4">Friend Requests</th>
	        		</tr>
	        	</thead>

	        	<tbody>
	        		<td>(pp)</td>
	        		<td>(username)</td>
	        		<td><i class="fas fa-envelope"></i></td>
	        		<td>
	        			<form>
	        				
	        			</form>
	        			<i class="fas fa-user-times"></i>
	        		</td>
	    	    </tbody>
	        </table> 

        </div>
    </div>
    <div class="row">

    	<div class="col">
    	
    	    <table class="table {% if darkmode > 0 %} table-dark dark_background {% endif %} table-hover">
	        	<thead>
	        		<tr>
	        			<th colspan="4">Friends</th>
	        		</tr>
	        	</thead>

	        	<tbody>
	        		{% for friend in friends %}
	        		<tr>
	        		    <td><img class="pp-sm" src="/static/pp/{{ friend['image_id'] }}.png"></td>
	        		    <td>{{ friend['username'] }}</td>
	        		    <td><i class="fas fa-envelope"></i></td>
	        		    <td>
	        		    	<form action="/friends" method="post">
	        		    		<input type="hidden" name="remove_friend_id" 
	        		    		value="{{ friend['user_id'] }}">
	        		    		<input type="hidden" name="remove_friend_u"
	        		    		value="{{ friend['username'] }}">
	        		    		<button type ="submit" class="btn custom-btn btn-sm
	        		    		{% if darkmode > 0 %}
		        		    		btn-dark
	        		    		{% else %}
		        		    		btn-light
	        		    		{% endif %}">
	        		    			<i class="fas fa-user-minus"></i>
	        		    		</button>
	        		    	</form>
	        		    </td>
	        	    </tr>
	        		{% endfor %}
	    	    </tbody>
	        </table> 

        </div>

    </div>
{% endblock %}