{% extends "layout.html" %}

{% block title %}
    Friends
{% endblock %}

{% block friends %}
    active
{% endblock %}

{% block current_path %}
    /friends
{% endblock %}

{% block main %}
    <div class="row justify-content-center">

	    <div class="col-auto">
	    	
    	    <table class="table table-responsive table-borderless
    	    table-hover
    	    {% if darkmode > 0 %}
	    	    table-dark dark_background
    	    {% endif %}">

	        	<thead>
	        		<tr>
	        			<th colspan="4">Friends</th>
	        		</tr>
	        	</thead>

	        	<tbody>
	        		{% if not friends %}
		        		<tr>
		        			<td>
				        		Try reaching out to someone in 
				        		<a class= "" href="/users">
					        		<i class="fas fa-users"></i> Users
					        	</a> :)
			        		<td>
		        		<tr>
	        		{% endif %}
	        		{% for friend in friends %}
		        		<tr>
		        		    <td><img class="pp-sm" src="/static/pp/{{ friend['image_id'] }}.png"></td>
		        		    <td>{{ friend['username'] }}</td>
		        		    <td>

		        		    	<form action="/friends" method="post">
		        		    		<input type="hidden" name="remove_friend" 
		        		    		value="{{ friend['user_id'] }}">
		        		    		<button type ="submit" class="btn custom-btn btn-sm
		        		    		{% if darkmode > 0 %}
			        		    		btn-dark
		        		    		{% else %}
			        		    		btn-light
		        		    		{% endif %}">
		        		    			<i class="fas fa-user-minus"></i>
		        		    		</button>
		        		    	</form>

		        		    </td>
		        	    </tr>
	        		{% endfor %}
	    	    </tbody>

	        </table> 

	    </div>

	    <div class="col-auto">
    	
    	    <table class="table table-responsive table-borderless
    	    table-hover
    	    {% if darkmode > 0 %}
	    	    table-dark dark_background
    	    {% endif %}">

	        	<thead>
	        		<tr>
	        			<th colspan="4">Friend Requests</th>
	        		</tr>
	        	</thead>

	        	<tbody>
	        		{% if not friend_req %}
		        		<tr>
		        			<td>
		        				No friend requests.
			        		<td>
		        		<tr>
	        		{% endif %}
	        		{% for req in friend_req %}
		        		<tr>
		        		    <td>

		        		    	<img class="pp-sm"
		        		    	src="/static/pp/{{ req['image_id'] }}.png">

		        		    </td>
		        		    <td>{{ req['username'] }}</td>
		        		    <td>

		        		    	<!-- Accept a friend request -->
		        		    	<form action="/friends" method="post">
		        		    		<input type="hidden" name="accept_fr" 
		        		    		value="{{ req['user_id'] }}">
		        		    		<button type ="submit" class="btn custom-btn btn-sm
		        		    		{% if darkmode > 0 %}
			        		    		btn-dark
		        		    		{% else %}
			        		    		btn-light
		        		    		{% endif %}">
		        		    			<i class="fas fa-check-circle"></i>
		        		    		</button>
		        		    	</form>

		        		    </td>
		        		    <td>

		        		    	<!-- Deny a friend request -->
		        		    	<form action="/friends" method="post">
		        		    		<input type="hidden" name="deny_fr" 
		        		    		value="{{ req['user_id'] }}">
		        		    		<button type ="submit" class="btn custom-btn btn-sm
		        		    		{% if darkmode > 0 %}
			        		    		btn-dark
		        		    		{% else %}
			        		    		btn-light
		        		    		{% endif %}">
		        		    			<i class="fas fa-times-circle"></i>
		        		    		</button>
		        		    	</form>

		        		    </td>
		        	    </tr>
	        		{% endfor %}
	    	    </tbody>

	        </table>

        </div>

    </div>
{% endblock %}