{% extends "layout.html" %}

{% block title %}
	{{ username }}'s profile
{% endblock %}

{% block game %}
	active
{% endblock %}

{% block current_path %}
	/games
{% endblock %}

{% block main %}
	<div class="row">
		<div class="col">
			<button id ="toggle_from" type="button" class="cstmbtn btn
			{% if darkmode > 0 %}
				btn-outline-light
			{% else %}
				btn-outline-dark
			{% endif %}">Create game</button>
		</div>
	</div>
	<dir></dir>
	<div class="row justify-content-center">
		<div class="col-auto"id="crt_gm"></div>
	</div>
	<dir></dir>

	<div class="row">
		<div class="col">
			<button id ="toggle_active_games" type="button" class="cstmbtn btn
			{% if darkmode > 0 %}
				btn-outline-light
			{% else %}
				btn-outline-dark
			{% endif %}">Active games</button>
		</div>
	</div>
	<dir></dir>
	<div class="row justify-content-center">
		<div class="col-auto"id="acv_gm"></div>
	</div>
	<dir></dir>

	<div class="row">
		<div class="col">
			<button id ="toggle_pending_games" type="button" class="cstmbtn btn
			{% if darkmode > 0 %}
				btn-outline-light
			{% else %}
				btn-outline-dark
			{% endif %}">Pending games</button>
		</div>
	</div>
	<dir></dir>
	<div class="row justify-content-center">
		<div class="col-auto"id="pnd_gm"></div>
	</div>
	<dir></dir>

	<div class="row">
		<div class="col">
			<button id ="toggle_game_req" type="button" class="cstmbtn btn
			{% if darkmode > 0 %}
				btn-outline-light
			{% else %}
				btn-outline-dark
			{% endif %}">Game requests</button>
		</div>
	</div>
	<dir></dir>
	<div class="row justify-content-center">
		<div class="col-auto"id="gm_req"></div>
	</div>
	<dir></dir>

	<script type="text/javascript">

		var click, click_p, click_r, click_a;
		click = click_p = click_r = click_a = 1;

        // an event listener when the create game button is clicked
        document.getElementById('toggle_active_games').addEventListener('click', function() {

            // an XMLHttpRequest
            var req = new XMLHttpRequest();

            // when the readystate is 4 it will get the response and put it in
            // the tbody with the id of search_body
            req.onreadystatechange = function() {
                if(req.readyState == 4 && req.status == 200){

                	// the html will be loaded to #crt_gm
                	if(click_a > 0){
                		$('#acv_gm').html(req.responseText);
                		click_a *= -1;
                	}
                    else {
                    	$('#acv_gm').html("");
                    	click_a *= -1;
                    }
                }
            }

            // it does a get request with the arg of q = (input.value)
            req.open('POST', '/load_active_games', true);

            // once it gets the response it sends it
            req.send();
        });

        // an event listener when the create game button is clicked
        document.getElementById('toggle_from').addEventListener('click', function() {

            // an XMLHttpRequest
            var req = new XMLHttpRequest();

            // when the readystate is 4 it will get the response and put it in
            // the tbody with the id of search_body
            req.onreadystatechange = function() {
                if(req.readyState == 4 && req.status == 200){

                	// the html will be loaded to #crt_gm
                	if(click > 0){
                		$('#crt_gm').html(req.responseText);
                		click *= -1;
                	}
                    else {
                    	$('#crt_gm').html("");
                    	click *= -1;
                    }
                }
            }

            // it does a get request with the arg of q = (input.value)
            req.open('GET', '/create_game', true);

            // once it gets the response it sends it
            req.send();
        });

        // an event listener when the create game button is clicked
        document.getElementById('toggle_pending_games').addEventListener('click', function() {

            // an XMLHttpRequest
            var req = new XMLHttpRequest();

            // when the readystate is 4 it will get the response and put it in
            // the tbody with the id of search_body
            req.onreadystatechange = function() {
                if(req.readyState == 4 && req.status == 200){

                	// the html will be loaded to #crt_gm
                	if(click_p > 0){
                		$('#pnd_gm').html(req.responseText);
                		click_p *= -1;
                	}
                    else {
                    	$('#pnd_gm').html("");
                    	click_p *= -1;
                    }
                }
            }

            // it does a get request with the arg of q = (input.value)
            req.open('GET', '/load_games?s=0', true);

            // once it gets the response it sends it
            req.send();
        });

        // an event listener when the create game button is clicked
        document.getElementById('toggle_game_req').addEventListener('click', function() {

            // an XMLHttpRequest
            var req = new XMLHttpRequest();

            // when the readystate is 4 it will get the response and put it in
            // the tbody with the id of search_body
            req.onreadystatechange = function() {
                if(req.readyState == 4 && req.status == 200){

                	// the html will be loaded to #crt_gm
                	if(click_r > 0){
                		$('#gm_req').html(req.responseText);
                		click_r *= -1;
                	}
                    else {
                    	$('#gm_req').html("");
                    	click_r *= -1;
                    }
                }
            }

            // it does a get request with the arg of q = (input.value)
            req.open('GET', '/game_requests', true);

            // once it gets the response it sends it
            req.send();
        });

	</script>
{% endblock %}