{% extends "layout-light.html" %}

{% block title %}
    Home
{% endblock %}

{% block index %}
    active
{% endblock %}

{% block main %}
    <div class="row">

    	<div class="col">
    		<div class="btn-group">
    		    <form action="/" method="post">
    			    <input type="hidden" name="change_pp" value="-1">
    			    <button type="submit" class="cstmbtn btn btn-outline-{% if darkmode == 0 %}light{% else %}dark{% endif %}"><---</button>
    		    </form>
    		    <form action="/" method="post">
    			    <input type="hidden" name="change_pp" value="1">
    			    <button type="submit" class="cstmbtn btn btn-outline-{% if darkmode == 0 %}light{% else %}dark{% endif %}">---></button>
    		    </form>
    		</div>
            <img style="width: 80%;" src="/static/pp/{{ image }}.png">
        </div>

	    <div class="col">

	        <table class="table {% if darkmode == 0 %} table-dark dark_background {% endif %} table-hover">
	        	<thead><tr><th>{{ username }}'s profile</th></tr></thead>
	        	<tbody>
	        		<tr>
	        			<td>Friends ({{ friend_num }})</td>
	        		</tr>
	        		<tr>
	        			<td>Active games (x)</td>
	        		</tr>
	        		<tr>
	        			<td>
	        				<form action="/" method="post">
	        					<input type="hidden"
	        					{% if darkmode == 0 %}
	        					value="1"
	        					{% else %}
	        					value="0"
	        					{% endif %} 
	        					name="toggle_darkmode">
	        					{% if darkmode == 0 %}
	        					<button type="submit" class="btn btn-outline-light">Dark mode</button>
	        					{% else %}
	        					<button type="submit" class="btn btn-outline-dark">Light mode</button>
	        					{% endif %} 
	        				</form>
	        			</td>
	        		</tr>
	        	</tbody>
	        </table> 

        </div>

    </div>
{% endblock %}