{% extends "layout.html" %}

{% block title %}
    {{ username }}'s profile
{% endblock %}

{% block index %}
    active
{% endblock %}

{% block current_path %}
    /
{% endblock %}

{% block main %}
    <div class="row">

    	<div class="col">
    		<div class="btn-group">
    		    <form action="/" method="post">
    			    <input type="hidden" name="change_pp" value="-1">
    			    <button type="submit" class="cstmbtn btn btn-outline-{% if darkmode > 0 %}light{% else %}dark{% endif %}"><---</button>
    		    </form>
    		    <form action="/" method="post">
    			    <input type="hidden" name="change_pp" value="1">
    			    <button type="submit" class="cstmbtn btn btn-outline-{% if darkmode > 0 %}light{% else %}dark{% endif %}">---></button>
    		    </form>
    		</div><br>
            <img class="pp_profile" src="/static/pp/{{ image }}.png">
        </div>

	    <div class="col">

	        <table class="table {% if darkmode > 0 %} table-dark dark_background {% endif %} table-hover">
	        	<thead><tr><th>{{ username }}'s profile</th></tr></thead>
	        	<tbody>
	        		<tr>
	        			<td>Change location</td>
	        		</tr>
	        		<tr>
	        			<td>Change email</td>
	        		</tr>
	        		<tr>
	        			<td>Change password <span class="glyphicon glyphicon-user"></span></td>
	        		</tr>
	        		<tr>
	        			<td>

	        			</td>
	        		</tr>
	        	</tbody>
	        </table> 

        </div>

    </div>
{% endblock %}