<form action="/change_pass" method ="post">
	<div class="form-group">
		<input class="form-control" name ="password" type="password" 
		placeholder="Password" autocomplete="off">
	</div>

	<div class="form-group">
		<input class="form-control" name ="password_1" type="password" 
		placeholder="Repeat password" autocomplete="off">
	</div>

	<div class="form-group">
		<input class="form-control" name ="password_2" type="password" 
		placeholder="New password" autocomplete="off">
	</div>

	<button type="submit" class="cstmbtn btn btn-outline-success">
		Update
	</button>
</form>
<dir></dir>